
  <div class="container mt-4">
    <div class="row">
      <div class="col-sm-8">
        <article class="artistslist maincontent">

          <% artists.forEach((artist) => { %>
            <div class="mb-4">
              <h4 class="artistslist-title"><%= artist.title %></h4>
              <div class="artistslist-name">with
                <a href="/artists/<%= artist.shortname %>"><%= artist.name %> Post</a>
              </div>
              <div class="row artistslist-info mt-2">
                <div class="col-sm-3">
                  <a href="/artists/<%= artist.shortname %>">
                    <img class="artistslist-img rounded-circle img-fluid" src="/images/artists/<%= artist.shortname %>_tn.jpg"
                      alt="Photo of <%= artist.name %> Post">
                  </a>
                </div>
                <div class="col-sm-9">
                  <%= artist.summary %>
                </div>
              </div>
            </div>
          <%}) %> 

        </article>
      </div>
      <aside class="col-md-4">
        <%- include('./partials/artworks') %> 
      </aside>

    </div>
  </div>